#fresh {
    padding: 100px 20px;
    background-color: #FFFFFF;
}

.fresh__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fresh__img {
    display: flex;
    justify-content: center;
    width: 50%;
}

.fresh__img img {
    max-width: 100%;
    height: auto;
    display: block;
}

.fresh__text h2 {
    font-weight: 700;
    font-size: clamp(28px, 5vw, 54px);
    line-height: 100%;
    letter-spacing: 0;
    color: #151414;
    margin-bottom: 30px;
}

.fresh__text p {
    font-weight: 400;
    font-size: clamp(16px, 2.5vw, 22px);
    letter-spacing: 0;
    color: #545454;
    margin-bottom: 70px;
}

.fresh__btn {
    width: 210px;
    height: 64px;
    border: none;
    border-radius: 50px;
    outline: none;
    margin-top: 50px;
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
    background: linear-gradient(180deg, #64BB47 0%, #2C9553 100%);
}

@media (max-width:1024px) {
    .fresh__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        text-align: left;
    }

    .fresh__image {
        width: 100%;
    }
}

@media (max-width:650px) {
    .fresh__content {
        margin-top: 50px;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        text-align: center;
    }

    .fresh__btn {
        margin-top: 30px;
        width: 150px;
        height: 34px;
        font-size: 16px;
    }

    .fresh__image {
        width: 100%;
        height: auto;
        display: block;
    }

    .fresh__image img {
        max-width: 100%;
        height: auto;
    }
}